Order Deny,Allow
Deny From All
Allow From    84.178.127.38

RewriteEngine On

# Rewrite rules
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !^$

RewriteRule ^(.+)$ ./index.php?page=$1 [NC,L]