AuthType Basic
AuthName "Please login"
AuthUserFile /var/www/vhosts/marius-gerum.de/dev.marius-gerum.de/.htpasswd
Require valid-user

RewriteEngine On

# Rewrite rules
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !^$

RewriteRule ^(.+)$ ./index.php?page=$1 [NC,L]