* {
    font-family : "Open Sans";
}

.single-topic {
    margin : 4px 0px;
}

h1 {
    font-weight : 100;
    margin      : 16px 0px;
    color       : #4488cc;
}

/* Bootstrap jumbotron */
.jumbotron {
    padding : 48px 0px 32px 0px;
}

.single-topic a {
    display     : block;
    padding     : 4px;
    margin      : 8px 0px;
    font-weight : 600;
}

.topic-examples .topic-example {
    display     : block;
    margin      : 4px 0px 4px 16px;
    font-weight : 100;
    opacity     : 0.9;
}

.topic-example.active {
    font-weight : bold;
    color       : #444444;
    opacity     : 1.0;
}

.single-topic {
    border-bottom : 1px solid rgba(0, 0, 0, 0.2);
}

.active-topic {
    position         : relative;
    min-height       : 2048px;
    overflow         : hidden;
    height           : auto;
    border           : 1px solid #dddddd;
    background-color : #ffffff !important;
    box-shadow       : 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.active-topic:after {
    clear   : both;
    content : "";
    display : block;
}

.active-topic .topic-section {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    width       : 100%;
    perspective : 1000px;
}

.topic-output,
.topic-code {
    transition       : all 250ms ease;
    padding          : 8px;
    background-color : #ffffff !important;
}

.topic-code,
.topic-output,
.topic-code *,
.topic-output * {
    font-family : "courier new" !important;
}

.topic-output {
    transform : translateX(100%);
    opacity   : 0.0;
}

.active-topic.show-output .topic-output {
    transform : translateX(0px);
    opacity   : 1.0;
}

.active-topic.show-output .topic-code {
    transform : translateX(-100%);
    opacity   : 0.0;
}

.next-previous {
    float : right;
}

.next-previous a {
    font-size  : 32px;
    width      : 40px !important;
    max-width  : 40px !important;
    height     : 40px !important;
    max-height : 40px !important;
    overflow   : hidden !important;
    box-sizing : border-box !important;
    display    : inline-block;
    text-align : center;
    border     : 1px solid #dddddd;
    margin     : 0px 4px;
}

.next-previous a:hover {
    background-color : #eeeeee;
    border           : 1px solid #cccccc;
}

.no-pointer-events {
    pointer-events : none;
    color          : #888888 !important;
    opacity        : 0.5 !important;
}